.main-layout {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;

    > * {
        grid-column: 2;
    }

    > .full {
        grid-column: 1 / -1;
    }

    @include for-narrow-layout {
        grid-template-columns: 
        minmax(2rem, 1fr)
        minmax(auto, $break-narrow)
        minmax(2rem, 1fr)
        ;     
    }

    @include for-normal-layout {
        grid-template-columns: 
        minmax(2rem, 1fr)
        minmax(auto, $break-normal)
        minmax(2rem, 1fr)
        ;     
    }

    @include for-wide-layout {
        grid-template-columns: 
        minmax(2rem, 1fr)
        minmax(auto, $break-wide)
        minmax(2rem, 1fr)
        ;     
    }

}
.toy-list{
    width: 100%;
}