// COLOR PALETTE
$main-clr: rgb(50, 224, 196);
$main-clr-dark: #0d7377;
$main-white:rgb(238, 238, 238);
$main-dark:#212121;
// $main-clr: #42ABA7;
// $main-clr-dark: #426361;
$black: #525359;
$muted: #707177;
$clr3: #324B4B;




// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 740px;
$break-wide: 960px;


//Page Side Padding 
$main-padding: 0 6.25rem;