@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/typography';
#contact {
    padding:$main-padding;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $main-dark;
    color:$main-white;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    h1{
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom:40px;
    }
    .contact-content{
        display: flex;
        width: 100%;
        >*{
            flex-basis: 50%;
        }

        h1{
            text-transform: uppercase;
            font-weight: normal;
        }
        p{
            text-align-last: left;
        }
        form{
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            width: 40%;
            label{
                color: $main-white;
            }
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
                transition-delay: background-color 5000s, color 5000s;
            }
            input{
                &.MuiInputBase-input MuiOutlinedInput-input{
                    background-color: transparent !important;
                }
            }
            button{
                background-color: transparent;
                padding:10px 14px;
                cursor: pointer;
                outline: none;
                border: 1px solid $main-white;
                width: 50%;
                align-self: flex-end;
                color: $main-white;
                border-radius: 10px;
                transition: .3s;
                font-weight: bold;
                &:hover{
                    background-color: $main-white;
                    color: $main-dark;

                }
            }
            #outlined-basic{
                background-color: transparent;
                box-shadow: 0 0 1px 0 $main-white;
                color: white;
                border-radius: 4px;
            }
            >*:not(:last-child){
                margin-bottom: 20px;
            }
        }
        .my-details{
            display: flex;
            flex-direction: column;
            text-align: left;
            align-items: flex-start;
            h1{
                text-transform:none;
                margin-bottom: 15px;
            }
            h2{
                margin-bottom: 10px;
            }
            h4{
                margin-bottom: 8px;
            }
            p{
                margin-bottom: 6px;
            }
            a{
                text-decoration: underline;
                color: $main-white;
                margin-bottom: 6px;
            }
            .icons-container{
                display: flex;
                width: 100%;
                align-items:center;
                &>*{
                    width: 40px;
                    height: 40px;
                    fill: white;
                    filter: invert(65%) sepia(93%) saturate(0%) hue-rotate(87deg) brightness(100%) contrast(119%);
                    cursor: pointer;
                    &:not(:last-child){
                        margin-right:10px;
                    }
                    &.facebook{
                    width: 30px;
                    height: 30px;
                    }
                }
            }
        }
    }
    }
    @media (max-width:800px) {
        #contact{
            padding:4rem 1rem;
            .contact-content{
                flex-direction: column-reverse;
                form{
                    width: 100%;
                    button{
                        align-self: center;
                    }
                }
                .my-details{    
                    align-items: center;
                    .icons-container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-top:20px;
                    }
                }
            }
        }
    }
